:root {
    --dtPurple1: #3500D3;
    --dtPurple2: #240090;
    --dtPurple3: #190061;
    --dtPurple4: #0C0032;
    --dtGray: #282828;
    --dtText: #D79922;
}

body {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dtPurple4);
    color: var(--dtText);
    margin: 0;
    min-height: 400px;
    display: flex;
}

p {
    padding: 10px;
}

img {
    width: 200px;
    height: 180px;
    border: 2px solid var(--dtText);
    padding: 30px;
    background-color: var(--dtPurple1);
}

#playerQuote {
    font-weight: bold;
    font-size: 40px;
    border: 0;
    padding: 20px;
}

#playerSpeech {
    margin-left: 280px;
    font-size: 20px;
}

#butterImg {
    display: block;
    display: inline-block;
}

#butterResultImg {
    display: block;
    display: inline-block;
}

#playerImg {
    display: block;
    display: inline-block;
}

#playerResultImg {
    display: block;
    display: inline-block;
}

.rpsButton {
    height: 50px;
    width: 200px;
}

#butterHealthPoint {
    font-size: 40px;
    font-weight: bold;
}

#playerHealthPoint {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {

#butterImg {
    flex: 0 0 50%;
    max-width: 100px;
    max-height: 100px;
}

#butterResultImg {
    flex: 0 0 50%;
    max-width: 100px;
    max-height: 100px;
}

#butterHealthPoint {
    font-size: 25px;
}

#playerQuote {
    font-size: 30px;
}

.rpsButton {
    height: 30px;
    width: 140px;
}

#playerSpeech {
    margin-left: 180px;
    font-size: 15px;
}

#playerResultImg {
    flex: 0 0 50%;
    max-width: 100px;
    max-height: 100px;
}

#playerImg {
    flex: 0 0 50%;
    max-width: 100px;
    max-height: 100px;
}

#playerHealthPoint {
    font-size: 25px;
}

}